@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


*{
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    
}
.outer-box
{
    width: 100vw;
    height: 655px;
    background: linear-gradient(to left,#3ed8ff,#a8f5ff);
}
.inner-box
{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 350px;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #3498db;
    z-index: 2;
}
h1{
    font-size: 2.5rem;
    color: #212121;
}
.signup-body
{
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input[type="submit"]{
    background-color:#3498db;
    border: none;
    color: white ;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #136297;
}
.signup-footer p{
    color: #555;
    text-align: center;
}
.signup-footer p a{
    color:#136297 ;
}

